<div id="outer">
    <div class="text">
        <p>
            Seltzerly is a lifestyle and brand. It was made by and for people who think water should come from a can.
            It's for people who scoff at the question, <q>Would you like still water or seltzer?</q>. Hmmpf, SELTZER OF COURSE!
            It's for people who know water tastes boring, but they only want it to be slightly more interesting. 
        </p>
        <p>
            We believe water should have bubbles and taste like someone left a peel of some sort of fruit in it overnight. 
            Like hey fruit, I can tell your there, but barely. 
            We also believe that water shouldn't have sugar in it. We aren't hummingbirds, WE ARE SELTZERLY.
        </p>
        <br>
        <br>
        <p>
            Seltzerly is developed and maintained by BV.Codes.<br><br>
            Logo and Icon design by <a href="https://www.haleyrileydesign.com">Haley Riley Design</a>.
        </p>
    </div>
</div>
