$accent-color: #1DE9B6;
$primary-color: #00B0FF;
$lite-pink: #FF80AB;
$lite-blue: #80D8FF;
$lite-teal: #64FFDA;

h3 {
    margin-bottom: 10px;
}

#ratingCard {
    border-radius: 15px 50px;
    
    background-color: $lite-teal;
}



#submitButton {
    margin-left: 70px;
    border-radius: 5px 5px;
    
}