$accent-color: #1DE9B6;
$primary-color: #00B0FF;
$lite-pink: #FF80AB;
$lite-blue: #80D8FF;
$lite-teal: #64FFDA;
$bg-lightBlue: #B3E5FC;
$white-blue: #e1f5f3;

@media only screen and (max-width: 600px) {

    #backButton {
        margin-left: 25%;
        margin-top: 20px;
    }

    // #details {
    //     display: flex;
    //     justify-content: center;
    //     background-color: $bg-lightBlue;
    //     padding-top: 25px;
    //     padding-bottom: 25px;

    // }


    #details {
        display: grid;
        grid-template-columns: 1fr;
        background-color: $bg-lightBlue;
        padding-top: 25px;
        padding-bottom: 25px;

    }

    #cardInside {
        margin-left: 15px;
        margin-right: 15px;
        
        
    }
    
    .seltzerCard {
        max-width: 205px;
        margin: auto;
        background-color: white;
        border-radius: 15px 50px;
    }

    .cardAvatar {
        background-image: url('../../assets/seltzerlylogo_1-8_100px.png');
        background-size: cover;
    }


    #bubbleIcon {
        vertical-align: middle;
    }
   
    
    
   
//     #bubRating {
//        display: grid;
//        column-count: 1;
//        row-gap: 25px;
//        background-color:white;
//        padding-top: 25px;
//        padding-bottom: 25px;
//        border-radius: 0;
       
   
//    }
   
   #yourOwn {
       margin: auto;
       //border: 1px solid black;
       border-radius: 15px 50px;
       float: left;
       
   }
   
   #insideOwn {
       padding: 25px;
        
   }
   
   p {
       text-align: center;
       font-size: 20px;    
   }
   
   #bubbleComp {
       margin: auto;  
   }
   
   #appFizzyRating {
       margin: auto;
       margin-top: 15px;
       max-width: 287px;
       
   
   }

}

@media only screen and (min-width: 601px) {


    #backButton {
        margin-left: 25%;
        margin-top: 20px;
    }


    // #details {
    //     display: flex;
    //     justify-content: center;
    //     background-color: $bg-lightBlue;
    //     padding-top: 25px;
    //     padding-bottom: 25px;
    // }
    
    
    #details {
        display: grid;
        column-count: 1;
        background-color: $bg-lightBlue;
        padding-top: 25px;
        padding-bottom: 25px;
    }


    #cardInside {
        margin-left: 15px;
        margin-right: 15px;
        
        
    }
    
    .seltzerCard {
        max-width: 205px;
        background-color: white;
        margin: auto;
        border-radius: 15px 50px;
    }

    .cardAvatar {
        background-image: url('../../assets/seltzerlylogo_1-8_100px.png');
        background-size: cover;
    }

    #bubbleIcon {
        vertical-align: middle;
    }
   
    
   
//     #bubRating {
//        display: flex;
//        justify-content: center;
//        background-color:white;
//        padding-top: 25px;
//        padding-bottom: 25px;
//        border-radius: 0;
       
   
//    }
   
   #yourOwn {
       margin: auto;
       //border: 1px solid black;
       border-radius: 15px 50px;
       
   }
   
   #insideOwn {
       padding: 25px;
   }
   
   p {
       text-align: center;
       font-size: 20px;    
   }
   
   #bubbleComp {
       margin: auto;
   }
   
   #appFizzyRating {
        
        margin: auto;
        max-width: 287px;
   
   }
   
}


@media only screen and (min-width: 768px) {


    #backButton {
        margin-left: 25%;
        margin-top: 20px;
    }

    // #details {
    //     display: flex;
    //     justify-content: center;
    //     background-color: $bg-lightBlue;
    //     padding-top: 25px;
    //     padding-bottom: 25px;
    // }

    #details {
        display: grid;
        grid-template-columns: 1fr;
        background-color: $bg-lightBlue;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    #cardInside {
        margin-left: 15px;
        margin-right: 15px;
        
        
    }
    
    .seltzerCard {
        max-width: 205px;
        margin: auto;
        background-color: white;
        border-radius: 15px 50px;
    }

    .cardAvatar {
        background-image: url('../../assets/seltzerlylogo_1-8_100px.png');
       background-size: cover;
    }

    #bubbleIcon {
        vertical-align: middle;
    }
   
    
   
//     #bubRating {
//        display: flex;
//        justify-content: center;
//        background-color:white;
//        padding-top: 25px;
//        padding-bottom: 25px;
//        border-radius: 0;
       
   
//    }
   
   #yourOwn {
       margin: auto;
       //border: 1px solid black;
       border-radius: 15px 50px;
       
   }
   
   #insideOwn {
       padding: 25px;
   }
   
   p {
       text-align: center;
       font-size: 20px;    
   }
   
   #bubbleComp {
       margin: auto;
   }
   
   #appFizzyRating {
       
       margin: auto;
       max-width: 287px;
   
   }

}



 @media only screen and (min-width: 992px) {


// #details {
//     display: flex;
//     justify-content: center;
//     background-color: $bg-lightBlue;
//     padding-top: 25px;
//     padding-bottom: 25px;
// }

#outer {
    
}

#inner {
    height: 100vh;
}

#details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: $bg-lightBlue;
    padding-top: 25px;
    padding-bottom: 25px;
}

#backButton {
    margin-left: 25%;
    margin-top: 20px;
}




#cardInside {
    margin-left: 15px;
    margin-right: 15px;
    
    
}



.seltzerCard {
    grid-column: 2;
    max-width: 205px;
    margin: auto;
    background-color: white;
    border-radius: 15px 50px;
}

 .cardAvatar {
     background-image: url('../../assets/seltzerlylogo_1-8_100px.png');
    background-size: cover;
 }

 #bubbleIcon {
    vertical-align: middle;
}

 

//  #bubRating {
//     display: flex;
//     justify-content: center;
//     background-color:white;
//     padding-top: 25px;
//     padding-bottom: 25px;
//     border-radius: 0;
    

// }

#yourOwn {
    grid-column: 1;
    grid-row: 1;
    margin: auto;
    //border: 1px solid black;
    border-radius: 15px 50px;
    
}

#insideOwn {
    padding: 25px;
}

p {
    text-align: center;
    font-size: 20px;    
}

#bubbleComp {
    margin: auto;
}

#appFizzyRating {
    grid-column: 3;
    grid-row: 1;
    margin: auto;
    max-width: 287px;

}

}