
<div *ngIf="fizzy" id="outer">
<div id="inner">
    <a routerLink="/fizzList"><button mat-raised-button color="primary" id="backButton"><mat-icon>arrow_back</mat-icon> Back</button></a>
    <div id="details">

        <mat-card class="seltzerCard" >
            <div id="cardInside">
                <mat-card-header>
                    <div mat-card-avatar class="cardAvatar"></div>
                    <mat-card-title>{{ fizzy.brand }} {{ fizzy.flavor }} <hr></mat-card-title>
                    <mat-card-subtitle>avg rating: {{ fizzy.avgRating }} <img src="../../assets/icons-02_blue.png" id="bubbleIcon" height="20px" width="20px" alt="bubble icon"></mat-card-subtitle>
                    
                </mat-card-header>
            
                <img mat-card-image src="{{ fizzy.photoUrl }}" 
                                    alt="{{ fizzy.brand }} {{ fizzy.flavor}}" 
                                    id="cardImage"
                                    >
                                
                <mat-card-content class="mat-card-content">
                </mat-card-content>
            </div>
        </mat-card>

        <div id="yourOwn">
            <div id="insideOwn">
                <p>-submit your own rating-</p>
                <app-bubble-rating id="bubbleComp" [fizzyId]="fizzy.fizzyId" 
                                    [brand]="fizzy.brand" 
                                    [flavor]="fizzy.flavor"
                                    [avgRating]="fizzy.avgRating"
                                    [numberOfRatings]="fizzy.numberOfRatings"
                                    [totalRating]="fizzy.totalRating"></app-bubble-rating>
            </div>
        </div>
        
        

        <app-fizzy-rating id="appFizzyRating" [fizzyId]="fizzy.fizzyId"></app-fizzy-rating> 
    </div>
    
</div>
</div>