$accent-color: #1DE9B6;
$primary-color: #00B0FF;
$lite-pink: #FF80AB;
$lite-blue: #80D8FF;
$lite-teal: #64FFDA;
$bg-lightBlue: #B3E5FC;




#outer { 
    max-height: 460px;
    width: 300px;
    background-color: $bg-lightBlue;
    border-radius: 15px 50px;
    //border: 1px solid black;
    overflow-y: auto;
    overflow-x: hidden;
    
    
}


#list {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    padding-top: 5px;
}

#rating-card {
    width: 225px;
    background-color: $lite-teal;
    border-radius: 15px 50px;
    
    
}

#bubbleIcon {
    vertical-align: middle;
}

#upVoteButton {
    display: flex;
    justify-content: center;
    background: none;
    background-color: none;
    border: none;
    
}

#upVoteOuter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}

#photoURL {
    height: 48px;
    width: 48px;
}

p {
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: $primary-color;
    border-radius: 5px 5px;
    
    
}

#list {
    height: 100%;
}


