
<div id="wrapper">
<mat-toolbar color="accent" id="toolbar">
  <button mat-icon-button id="burgerButton" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  Seltzerly
  <span id="spacer"></span>
  <span id="login" class="loginSpan" *ngIf="auth.user$ | async as user; else loginLink">
   <a routerLink="/userProfile"><img src="{{ user.photoURL }}"  id="userImg" 
                                                                alt="Google user image" 
                                                                height="45" 
                                                                width="45"></a>
  </span>
  <ng-template #loginLink>
    <span id="accountIcon">  
    <a routerLink="/userProfile"><mat-icon>account_circle</mat-icon></a>
    </span>
  </ng-template>
</mat-toolbar>

<mat-sidenav-container id="mat-sidenav-container">
  <mat-sidenav id="sideNav" mode="over" (opened)="events.push('open!')"
                            (closed)="events.push('close!')">
  <mat-nav-list>
    <a mat-list-item routerLink="/dashboard"><button mat-button class="navBut">home</button></a>
    <a mat-list-item routerLink="/fizzList"><button mat-button class="navBut">seltzer list</button></a>
    <a mat-list-item routerLink="/about"><button mat-button class="navBut">about</button></a>
    <a mat-list-item routerLink="/userProfile"><button mat-button class="navBut">user profile</button></a>
    
  </mat-nav-list>
  </mat-sidenav>


<mat-sidenav-content id="mat-sidenav-content">
  <div id="routerOutlet">
    <router-outlet></router-outlet>
  </div>
<footer>
  <div id="footerDiv">
    <p>Seltzerly™ - a BV.Codes Joint <br>
      please send enquiries to: <a href="mailto:dev@seltzerly.com">dev@seltzerly></a>
    </p>
  </div>
</footer>
</mat-sidenav-content>
</mat-sidenav-container>
</div>




