
<h2>Seltzer List</h2>



<mat-list class="matList" *ngFor="let fizz of fizzies">
    
    
    <mat-list-item class="fizzList">

        
    
        <a routerLink="/detail/{{ fizz.fizzyId }}">
            <button id="detailButton" mat-raised-button color="primary">Details</button>
        </a>
        
        <div id="brandFlavor">
            <a routerLink="/detail/{{ fizz.fizzyId }}">  
            {{fizz.brand }} - {{ fizz.flavor }}
            </a>
            <div class="spanImg">
                <img class="canImg" src="{{ fizz.photoUrl }}" height="400px" width="200px" alt="seltzer can">
            </div>
        
        </div>
        
        
        <div id="rating"> 
            
           Avg Rating: {{ fizz.avgRating }}    <img id="bubbleImg" src="../../assets/icons-02_blue.png" width="45px" height="45px"> 
             
        </div>
    
    </mat-list-item>
    <mat-divider></mat-divider>
</mat-list>

