$accent-color: #1DE9B6;
$primary-color: #00B0FF;
$lite-pink: #FF80AB;
$lite-blue: #80D8FF;
$lite-teal: #64FFDA;
$white-blue: #e1f5f3;

@media only screen and (max-width: 600px) {



h1 {
    background-color: $lite-blue;
    text-align: center;
    width: 95% ;
    margin: auto;
    margin-top: 25px;
    
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 30px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 15px 50px;
    box-shadow: 5px 5px $primary-color;

}

h2 {
    width: 95%;
    text-align: center;
    margin-bottom: 0;
    margin: auto;
    font-size: 25px;
    background-color: $lite-blue;
    border-radius: 15px 50px;
    border: 1px solid black;
    //box-shadow: 5px 5px $primary-color;
}


#topFiveContainer {
    background-color: $white-blue;
    padding-top: 25px;
}



.seltzerCard {
    display: inline-block;
    max-width: 230px;
    background-color: $accent-color;
    box-shadow: 5px 5px $lite-blue;
    
    border-radius: 15px 50px;
    border: 1px solid black;

}

.mat-card-title {
    font-size: 16px;
}

.mat-card-content {
    background-color: white;
}

.cardAvatar {
    background-image: url('../../assets/cardLogo_100px.png');
    background-size: cover;
}

#top5border {
    border: 1px solid black;
    border-radius: 15px 50px;
}

#outterTopFive {
        
    //margin-left: 15%;
    //margin-right: 15%;
    
}

#innerTopFive {
    display: grid;
    grid-template-columns: 1fr;
}

.topFive {
    //display: flex;
    //justify-content: center;
    //float: left;
    background-color: none;
    margin: auto;
    //padding-left: 50px;
    padding-bottom: 50px;
    
    
}

#img-div {
    width: 200px;
    height: 200px;
}

#cardImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    
}

.cardHeader {
    
    background-color: $accent-color;
}


#welcome {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    text-align: center;
    padding-bottom: 25px;
    
}

#dashLogo {
    display: none;
    margin-top: 15px;
    margin-left: none;
    margin-right: none;
 
}

#logo {
    margin: auto;
    justify-content: center;
    margin-top: 15px;
    background-image: url('../../assets/logo_seltzerlylogo_200_correctColor.png');
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    
}

.mat-card-subtitle {
    height: 20px;
    line-height: 20px;
}



#bubbleIcon {
    vertical-align: middle;
}

}

@media only screen and (min-width: 601px) {

    h1 {
        background-color: $lite-blue;
        text-align: center;
        
        margin: auto;
        margin-top: 25px;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: 37px;
        font-weight: bold;
        border: 1px solid black;
        border-radius: 15px 50px;
        box-shadow: 5px 5px $primary-color;
    
    }
    
    h2 {
        width: 95%;
        text-align: center;
        font-size: 25px;
        margin: auto;
        margin-bottom: 0;
        background-color: $lite-blue;
        border-radius: 15px 50px;
        border: 1px solid black;
        //box-shadow: 5px 5px $primary-color;
    }
    
    
    #topFiveContainer {
        background-color: $white-blue;
        padding-top: 25px;
    }
  
    
    .seltzerCard {
        
        max-width: 200px;
        background-color: $accent-color;
        box-shadow: 5px 5px $lite-blue;
        
        border-radius: 15px 50px;
        border: 1px solid black;
    
    }
    
    .mat-card-title {
        font-size: 16px;
    }
    
    .mat-card-content {
        background-color: white;
    }
    
    .cardAvatar {
        background-image: url('../../assets/cardLogo_100px.png');
        background-size: cover;
    }
    
    #top5border {
        border: 1px solid black;
        border-radius: 15px 50px;
    }

    #outterTopFive {
        
        margin-left: 10%;
        margin-right: 10%;
        
    }

    #innerTopFive {
        display: grid;
        column-count: 1;
    }
    
    .topFive {
        //display: flex;
        //justify-content: center;
       //float: left;
        //display: grid;
        //column-count: 1;
        background-color: none;
        margin: auto;
        //margin-left: 5%;
        padding-bottom: 50px;
        
    }
    
    #img-div {
        width: 200px;
        height: 200px;
    }
    
    #cardImage {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    
        
    }
    
    .cardHeader {
        
        background-color: $accent-color;
    }
    
    
    #welcome {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        text-align: center;
        padding-bottom: 25px;
        
    }
    
    #dashLogo {
        margin-top: 25px;
        margin-left: none;
        margin-right: none;
     
    }
    
    .mat-card-subtitle {
        height: 20px;
        line-height: 20px;
    }
    
    
    
    #bubbleIcon {
        vertical-align: middle;
    }

}

@media only screen and (min-width: 768px) {
    h1 {
        background-color: $lite-blue;
        text-align: center;
        margin-top: 25px;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: 37px;
        font-weight: bold;
        border: 1px solid black;
        border-radius: 15px 50px;
        box-shadow: 5px 5px $primary-color;
    
    }
    
    h2 {
        width: 90%;
        text-align: center;
        font-size: 25px;
        background-color: $lite-blue;
        border-radius: 15px 50px;
        border: 1px solid black;
        //box-shadow: 5px 5px $primary-color;
    }
    
    
    .seltzerCard {
        max-width: 230px;
        background-color: $accent-color;
        box-shadow: 5px 5px $lite-blue;
        
        border-radius: 15px 50px;
        border: 1px solid black;
    
    }
    
    .mat-card-title {
        font-size: 16px;
    }
    
    .mat-card-content {
        background-color: white;
    }
    
    .cardAvatar {
        background-image: url('../../assets/cardLogo_100px.png');
        background-size: cover;
    }
    
    #top5border {
        border: 1px solid black;
        border-radius: 15px 50px;
    }

    #outterTopFive {
        
        margin-left: 12%;
        margin-right: 12%;
        
    }

    #innerTopFive {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .topFive {
        //display: flex;
        //justify-content: center;
        //float: left;
        background-color: none;
        //margin-left: 5%;
        margin: auto;
        padding-bottom: 50px;
        
    }
    
    #img-div {
        width: 200px;
        height: 200px;
    }
    
    #cardImage {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    
        
    }
    
    .cardHeader {
        
        background-color: $accent-color;
    }
    
    
    #welcome {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        text-align: center;
        padding-bottom: 25px;
        
    }
    
    #dashLogo {
        
        margin-left: none;
        margin-right: none;
     
    }
    
    .mat-card-subtitle {
        height: 20px;
        line-height: 20px;
    }
    
    
    
    #bubbleIcon {
        vertical-align: middle;
    }
}


@media only screen and (min-width: 992px) {

    h1 {
        background-color: $lite-blue;
        text-align: center;
        margin-top: 25px;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: 37px;
        font-weight: bold;
        border: 1px solid black;
        border-radius: 15px 50px;
        box-shadow: 5px 5px $primary-color;
    
    }
    
    h2 {
        width: 85%;
        text-align: center;
        font-size: 25px;
        background-color: $lite-blue;
        border-radius: 15px 50px;
        border: 1px solid black;
        //box-shadow: 5px 5px $primary-color;
    }
    
    
    .seltzerCard {
        max-width: 230px;
        background-color: $accent-color;
        box-shadow: 5px 5px $lite-blue;
        
        border-radius: 15px 50px;
        border: 1px solid black;
    
    }
    
    .mat-card-title {
        font-size: 16px;
    }
    
    .mat-card-content {
        background-color: white;
    }
    
    .cardAvatar {
        background-image: url('../../assets/cardLogo_100px.png');
        background-size: cover;
    }
    
    #top5border {
        border: 1px solid black;
        border-radius: 15px 50px;
    }

    #outterTopFive {
        
        margin-left: 15%;
        margin-right: 15%;
        
    }

    #innerTopFive {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .topFive {
        //display: flex;
        //justify-content: center;
        //float: left;
        background-color: none;
        //margin-left: 10%;
        margin: auto;
        //padding-left: 8%;
        padding-bottom: 5%;
        
    }
    
    #img-div {
        width: 200px;
        height: 200px;
    }
    
    #cardImage {
        display: block;

        margin-left: auto;
        margin-right: auto;
        width: 50%;
    
        
    }
    
    .cardHeader {
        
        background-color: $accent-color;
    }
    
    
    #welcome {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        text-align: center;
        padding-bottom: 25px;
        
    }
    
    #dashLogo {
        
        margin-left: none;
        margin-right: none;
     
    }

    
    .mat-card-subtitle {
        height: 20px;
        line-height: 20px;
    }
    
    
    
    #bubbleIcon {
        vertical-align: middle;
    }

}