<div id="wrapper">
<div *ngIf="auth.user$ | async as user; else login">

    <div id="welcome">
        Welcome Back
    
        <div id="user"> 
            {{ user.displayName }}
        </div>
    </div>
    <button mat-raised-button color="primary" class="signButtons" (click)="auth.signOut()"> Signout</button>
    <hr>

    <br>
    <app-user-rating [uid]="user.uid"></app-user-rating>

    

    
</div>

<ng-template #login>
    <!-- <div id="login">
        <div id="loginInner">
            <button mat-raised-button color="primary" class="signButtons" (click)="auth.googleSignin()">
                Login with Google
            </button>
        </div>
    </div> -->
    <div id="loginOuter">
        <mat-card id="card">
            <mat-card-title id="title">login with Google</mat-card-title>
                <hr>
            <mat-card-actions><button mat-raised-button color="primary" id="loginButton" (click)="auth.googleSignin()">login</button></mat-card-actions>
        </mat-card>
    </div>
</ng-template>
</div>



